body {
    background-color: #1b244a;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
}

#home {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #eeeeee;
    width: 149px;
    height: 36px;
    margin: 68px 106px 21px 85px;
}

#guest {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #eeeeee;
    width: 149px;
    height: 36px;
    margin: 68px 86px 21px 106px;
}

#homeCount {
    text-align: center;
    border: 5px solid black;
    border-radius: 6px;
    background-color: black;
    color: #f94f6d;
    padding-right: 20px;
    padding-left: 18px;
    margin: 21px 100px 26px 82px;
    font-weight: 400;
    font-style: Regular;
    font-size: 90px;
}

#guestCount {
   text-align: center;
    border: 5px solid black;
    border-radius: 6px;
    background-color: #4B0082;
    color: #f94f6d;
    padding-right: 20px;
    padding-left: 18px;
    margin: 21px 83px 26px 100px;
    font-weight: 400;
    font-style: Regular;
    font-size: 90px;
}

.containerbtn1 {
     display: flex;
    justify-content: space-around ;
    margin: 26px 100px 69px 82px;
}

.containerbtn2 {
    display: flex;
    justify-content: space-around ;
    margin: 26px 83px 69px 100px;

}

.btn1 {
    font-family: "Share Tech Mono", monospace;
    font-size: 20px;
    border: 5px solid #9aabd8;
    border-radius: 5px;
    background-color: transparent;
    color: #9aabd8;
    padding: 9px 8px 10px 7px;
}

.btn2 {
    font-family: "Share Tech Mono", monospace;
    font-size: 20px;
    border: 5px solid #9aabd8;
    border-radius: 5px;
    background-color: transparent;
    color: #9aabd8;
    padding: 9px 8px 10px 7px;
}